@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes fadeLeft_100px {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
.fadeInUp {
    animation-name: fadeInUp;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: both;
}
.fadeInRight {
    animation-name: fadeInRight;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: both;
}
.fadeInLeft {
    animation-name: fadeInLeft;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: both;
}
.fadeLeft {
    animation-name: fadeLeft_100px;
    animation-delay: .5s;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}