@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('animation.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
img{
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border-style: none;
}
svg {
    display: inline-block;
    vertical-align: middle;
    color: white;
}
ul, ol{
    margin: 0;
    padding: 0;
}
ul li{
    list-style: none;
}
a{
    color: #444;
    text-decoration: none;
    background-color: transparent;
    transition: 0.3s;
}
a:hover{
    color: #7c4fe0;
    text-decoration: none;
}
.text-body > a {
    text-decoration: underline;
    color: #212529;
}
.text-white {
    color: white;
}
.text-primary {
    color: #7c4fe0 !important;
}
.text-secondary {
    color: #666 !important;
}
.position-relative{
    position: relative !important;
}
.justify-content-center {
    justify-content: center;
}
.justify-content-between {
    justify-content: space-between;
}
@media (min-width: 576px) {
    .justify-content-sm-between {
        -ms-flex-pack: justify !important;
        justify-content: space-between !important;
    }
}
.flex-wrap {
    flex-wrap: wrap;
}
.text-center {
    text-align: center;
}
.text-capitalize {
    text-transform: capitalize;
}
.pb-2 {
    padding-bottom: 0.5rem;
}
.pt-4 {
    padding-top: 1.5rem;
}
.pt-5 {
    padding-top: 3rem;
}
.px-3 {
    padding-left: 1rem;
    padding-right: 1rem;
}
.ptb_50 {
    padding: 50px 0;
}
.ptb_100 {
    padding: 100px 0;
}
@media screen and (max-width: 767px) {
    .ptb_100 {
        padding: 50px 0;
    }
}
.fw-3 {
    font-weight: 300;
}
.fw-5 {
    font-weight: 500;
}
.p-2 {
    padding: 0.5rem;
}
.p-3 {
    padding: 1rem;
}
.p-4 {
    padding: 1.5rem;
}
.p-5 {
    padding: 3em;
}
.font-italic {
    font-style: italic;
}
.res-margin {
    @media (max-width: 991px) {
        margin-bottom: 45px;
    }
    @media (max-width: 767px) {
        margin-bottom: 30px;
    }
}
.mr-3 {
    margin-right: 1rem;
}
.ml-4 {
    margin-left: 1.5rem;
}
.mt-2 {
    margin-top: 0.5rem;
}
.mt-3 {
    margin-top: 1rem;
}
.mt-4, .my-4 {
    margin-top: 1.5rem;
}
.m-2 {
    margin: 0.5rem;
}
@media screen and (min-width: 768px){
    .mt-md-0 {
        margin-top: 0;
    }
}
.px-0 {
    padding-left: 0!important;
    padding-right: 0!important;
}

.pr-3 {
    padding-right: 1rem;
}
.pr-4 {
    padding-right: 1.5rem;
}
.pl-3 {
    padding-left: 1rem;
}
.py-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}
.py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.py-3 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.py-4 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.mbt{
    margin: 1.5rem 0;
}
.mb-2 {
    margin-bottom: 0.5rem;
}
.mb-3 {
    margin-bottom: 1rem;
}
.mb-4, .my-4 {
    margin-bottom: 1.5rem;
}
.d-inline-block {
    display: inline-block;
}
@media screen and (min-width: 576px){
    .my-sm-3 {
        margin: 1rem 0;
    }
    .pb-sm-3 {
        padding-bottom: 1rem;
    }
    .d-sm-none{
        display: none!important;
    }
    .d-sm-block{
        display: block!important;
    }
}
.d-block {
    display: block;
}
.d-none {
    display: none;
}
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
.border-top {
    border-top: 1px solid #dee2e6!important;
}
.border-bottom {
    border-bottom: 1px solid #dee2e6!important;
}
.border-0 {
    border: 0!important;
}
.fw-7{
    font-weight: 700;
}
.bg-gray {
    background-color: #f6f9fe!important;
}
.bg-overlay {
    position: relative;
    z-index: 0;
}
.bg-overlay::after {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(-47deg, #8731E8 0%, #4528DC 100%);
    opacity: .94;
    z-index: -1;
}
.welcome-area.bg-overlay::after {
    z-index: -2;
}
.overlay-dark {
    position: relative;
    z-index: 0;
}
.overlay-dark::after {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(16, 16, 45, 1);
    opacity: 0.80;
    z-index: -1;
}
h1{
    font-size: 4rem;
    font-weight: 600;
    line-height: 1.2;
}
h2{
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.3;
}
h3{
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.5;
}
h4{
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1.5;
}
h5{
    font-size: 1.2rem;
    font-weight: 600;
}
h6{
    font-size: 1rem;
    font-weight: 600;
}
p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #565656;
    margin-bottom: 0;
}
@media screen and (max-width: 991px){
    h1 {
        font-size: 3em;
    }
    h2 {
        font-size: 36px;
    }
}
@media screen and (max-width: 767px){
    h1 {
        font-size: 2.8em;
    }
    h2 {
        font-size: 30px;
        line-height: 1.4;
    }
}
@media screen and (max-width: 575px){
    h1 {
        font-size: 2.5em;
    }
    h2 {
        font-size: 2em;
        line-height: 1.3;
    }
}
.main {
    background: #fff;
}
.container{
    width: 100%;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
}
/* 1.header */
.navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    z-index: 999;
    justify-content: space-between;
}

.navbar .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.navbar-brand {
    display: inline-block;
    margin-right: 1rem;
}
.navbar .navbar-brand-sticky {
    display: none;
}
.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.dropdown {
    position: relative;
}
.navbar.navbar-dark .navbar-nav .nav-link {
    color: white;
}
.navbar .navbar-nav .nav-link {
    padding: 0 1.25em;
    transition: .3s;
    display: block;
}
.dropdown .dropdown-toggle:after {
    display: inline-block;
    content: "";
    vertical-align: .255em;
    border-top: 5px solid;
    border-right: 5px solid transparent;
    border-bottom: 0;
    border-left: 5px solid transparent;
    color: #d3d3d3;
}
.dropdown-menu {
    top: 100%;
    left: 0;
    z-index: 100;
    float: left;
    font-size: 1em;
    color: #212529;
    text-align: left;
    background-color: white;
    border-radius: .25em;
}
.dropdown .dropdown-menu {
    display: none;
    border: 0;
    padding: 0.625em 0;
    margin: 0;
    transition: .3s;
}
.dropdown .dropdown-menu::before {
    content: "";
    position: absolute;
    top: -10px;
    right: auto;
    bottom: auto;
    left: 10px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
}
.dropdown .dropdown-menu li {
    padding: 0 0.625em;
}
.dropdown .dropdown-menu .dropdown-item {
    display: block;
    width: 100%;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    padding-right: 0.625rem;
    padding-left: 0.625rem;
    text-transform: uppercase;
    font-size: 0.8125rem;
    font-weight: 700;
    color: #2c2e30;
    transition: 0.3s;
}
.dropdown .dropdown-menu .dropdown-item:hover {
    color: #16181b;
    background-color: #f8f9fa;
}
.dropdown-item.disabled {
    pointer-events: none;
    background-color: transparent;
}
.dropdown .dropdown-menu .dropdown-submenu {
    position: relative;
}
.dropdown .dropdown-menu .dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
}
.dropdown .dropdown-menu .dropdown-submenu > .dropdown-menu:before {
    content: '';
    position: absolute !important;
    top: 30px;
    right: auto;
    bottom: auto;
    left: -10px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid white;
}
.dropdown .dropdown-menu .dropdown-submenu .dropdown-toggle:after{
    position: absolute;
    right: 24px;
    top: 20px;
    color: #d3d3d3;
    transition: .3s;
}
.dropdown .dropdown-menu .dropdown-submenu:hover .dropdown-toggle:after{
    text-decoration: underline;
    transform: rotate(-90deg);
}
.badge {
    display: inline-block;
    padding: 0.25em 0.6em;
    margin-left: 0.5em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    color: #212529;
    background-color: #ffc107;
    border-radius: 10em;
}

.navbar.active .navbar-inner {
    right: 0;
}

@media screen and (max-width: 992px) {
    .main::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 0;
        background: white;
        z-index: 3;
        opacity: 0;
        visibility: hidden;
        transition: .3s;
    }
    .canvas-open {
        overflow: hidden;
    }
    .canvas-open .main::before {
        width: 100%;
        opacity: .95;
        visibility: visible;
    }
    .navbar {
        padding: 0.625rem 0;
    }
    .navbar .navbar-toggler {
        position: absolute;
        top: auto;
        right: 0;
        bottom: auto;
        left: auto;
        border: none;
        height: 100%;
        width: 3.75rem;
        background-image: none;
        background-color: transparent;
        border-radius: 0;
        z-index: 1;
        display: inline-block;
        cursor: pointer;
    }
    .navbar .navbar-toggler .navbar-toggler-icon {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        height: 3px;
        width: 50%;
        background: #fff;
        display: inline-block;
        background-image: none !important;
        transition: .3s ease-in-out;
    }
    .navbar .navbar-toggler .navbar-toggler-icon.active {
        background-color: transparent;
        transform: scale(0.85) rotate(270deg);
    }
    .navbar .navbar-toggler .navbar-toggler-icon::before, .navbar .navbar-toggler .navbar-toggler-icon::after {
        content: "";
        background: #fff;
        left: 0;
        height: 100%;
        width: 100%;
        position: absolute;
        transition: .3s ease-in-out;
    }
    .navbar.navbar-dark .navbar-toggler-icon.active::before, .navbar.navbar-dark .navbar-toggler-icon.active::after {
        background: #7e8085;
    }
    .navbar .navbar-toggler .navbar-toggler-icon::before {
        top: -0.625rem;
    }
    .navbar .navbar-toggler .navbar-toggler-icon.active::before {
        top: 0;
        transform: scale(0.65) rotate(45deg);
    }
    .navbar .navbar-toggler .navbar-toggler-icon::after {
        bottom: -0.625rem;
    }
    .navbar .navbar-toggler .navbar-toggler-icon.active::after {
        bottom: 0;
        transform: scale(0.65) rotate(-45deg);
    }
    .navbar .navbar-inner {
        position: fixed;
        top: 0;
        bottom: 0;
        width: 20rem;
        padding-top: 2.5rem;
        background-color: white;
        box-shadow: 0 0.5rem 1.875rem rgba(0, 0, 0, 0.15);
        border-radius: 0;
        overflow-y: auto;
        z-index: 1050;
        right: -100%;
        transition: right 0.3s 0.2s;
    }
    .navbar .navbar-inner .navbar-toggler {
        position: absolute;
        height: 2.5rem;
        top: 0;
    }
    .navbar .navbar-nav .nav-link {
        border-bottom: 1px solid #eee;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
    }
    .navbar.navbar-dark .navbar-nav .nav-link {
        color: #54565a;
    }
}
@media screen and (min-width: 576px) {
    .container{
        max-width: 540px;
    }
}
@media screen and (min-width: 768px) {
    .container{
        max-width: 720px;
    }
}
@media screen and (min-width: 992px) {
    .m-lg-0 {
        margin: 0!important;
    }
    .navbar-expend-lg .navbar-toggler {
        display: none;
    }
    .container{
        max-width: 960px;
    }
    .navbar .container {
        flex-wrap: nowrap;
    }
    .navbar-expend-lg .navbar-nav {
        flex-direction: row;
    }
    .navbar .navbar-nav .nav-link {
        padding-top: 1.875em;
        padding-bottom: 1.875em;
    }
    li.nav-item:hover .dropdown-menu {
        opacity: 1;
        transform: translateY(-10px);
        visibility: visible;
    }
    .dropdown .dropdown-menu {
        display: block;
        position: absolute;
        opacity: 0;
        transform: translateY(20px);
        visibility: hidden;
        min-width: 14.345em;
    }
    .dropdown .dropdown-menu .dropdown-submenu > .dropdown-menu {
        opacity: 0;
        transform: translateY(20px);
        visibility: hidden;
        transition: .3s;
    }
    .dropdown .dropdown-menu .dropdown-submenu:hover > .dropdown-menu{
        opacity: 1;
        transform: translateY(-10px);
        visibility: visible;
    }
}
@media screen and (min-width: 1200px) {
    .container{
        max-width: 1160px;
    }
}

/* 2.welcome-area */
section.section {
    position: relative;
}
.d-flex {
    display: flex;
}
.align-self-center {
    align-self: center;
}
.align-items-center {
    align-items: center;
}
.welcome-area {
    background: transparent url(../img/bg/welcome-bg.jpg) no-repeat scroll center center/cover;
    height: 800px;
    z-index: 1;
}
@media screen and (max-width: 992px){
    .welcome-area{
        height: 700px;
    }
}
@media screen and (max-width: 768px){
    .welcome-area{
        height: 100%;
        padding-top: 90px;
    }
}
.overflow-hidden {
    overflow: hidden;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}
.text-section {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 15px;
}
.image-section {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 15px;
}
@media screen and (min-width: 768px){
    .text-section {
        flex: 0 0 58%;
        max-width: 58%;
    }
    .image-section {
        flex: 0 0 42%;
        max-width: 42%;
    }
}
@media screen and (min-width: 992px){
    .welcome-area-section {
        flex: 0 0 50%;
        max-width: 50%;
    }
}
.button-group {
    margin-top: 30px;
}
.button-group a {
    margin-right: 10px;
}
.button-group a:last-child {
    margin-right: 0;
}
.store-buttons a {
    text-align: left;
}
.store-buttons img {
    max-width: 190px;
}
.shape-bottom {
    position: absolute;
    top: auto;
    bottom: -1px;
    left: 0;
    right: 0;
}
.welcome-area .shape-bottom {
    z-index: -1;
}
.welcome-thumb {
    max-width: 300px;
    padding-top: 70px;
    opacity: 0;
    transform: translateX(100px);
}

/* 3.Counter */
.single-counter {
    position: relative;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
    padding: 0 15px;
}
.single-counter::after {
    position: absolute;
    content: '';
    height: 70%;
    width: 1px;
    background-color: #16181b;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    opacity: .15;
}
.counter-inner {
    padding: 1em;
}
.counter-item{
    margin-bottom: 1em;
}
.counter-area .single-counter span {
    font-size: 3em;
    background: linear-gradient(-47deg, #8731E8 0%, #4528DC 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
@media screen and (min-width: 575px){
    .single-counter{
        flex: 0 0 25%;
        max-width: 25%;
    }
}
@media screen and (min-width: 768px){
    .counter-inner {
        padding: 0;
    }
}

/* 4.Features */

.section-heading{
    margin-bottom: 80px;
}
@media screen and (max-width: 991px){
    .section-heading{
        margin-bottom: 50px;
    }
}
.section-heading h2{
    position: relative;
}
.section-heading h2::after{
    position: absolute;
    content: '';
    height: 2px;
    width: 70px;
    background-color: #7c4fe0;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
}
.section-heading p {
    margin-top: 1.5rem;
}
.rounded-pill {
    border-radius: 50rem;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
    padding: 0.5em 1.5em;
}
.feature-content {
    flex: 0 0 100%;
    max-width: 100%;
}
@media screen and (min-width: 768px) {
    .feature-content {
        flex: 0 0 83%;
        max-width: 83%;
    }
}
@media screen and (min-width: 992px) {
    .feature-content {
        flex: 0 0 66.67%;
        max-width: 66.67%;
    }
}
.feature-column {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 15px;
}
@media screen and (min-width: 768px) {
    .feature-column {
        flex: 0 0 50%;
        max-width: 50%;
    }
}
@media screen and (min-width: 992px) {
    .feature-column {
        flex: 0 0 33.33%;
        max-width: 33.33%;
    }
}
.image-box {
    position: relative;
    box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.12);
    border-radius: 1.5em;
    transition: 0.3s;
}
.image-box:hover {
    transform: translateY(-10px);
    box-shadow: 0 1em 3em rgba(31, 45, 61, 0.125);
}
.avatar-sm {
    height: 3rem;
    width: 3rem;
}
.avatar-lg {
    height: 5rem;
    width: 5rem;
}
.avatar-lg.radius-100 {
    border-radius: 100%;
}
/* 5.Service */
.service-section{
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 15px;
}
.image-service-section{
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    padding: 0 15px;
}
@media screen and (max-width: 992px) {
    .image-service-section{
        display: none;
    }
    .service-section{
        flex: 0 0 100%;
        max-width: 100%;
    }
}
.media {
    display: flex;
    align-items: flex-start;
}

.service-icon span {
    height: 54px;
    width: 54px;
    display: inline-block;
    text-align: center;
    line-height: 54px;
    font-size: 1.5rem;
    color: #7c4fe0;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
}
.btn {
    display: inline-block; /*thay đổi thẻ a luôn phải chú ý thuộc tính này */
    font-size: 1rem;
    font-weight: 500;
    color: white;
    line-height: 1;
    text-align: center;
    padding: 18px 30px;
    border: 0 none;
    border-radius: 6px;
    position: relative;
    z-index: 1;
    background: linear-gradient(-47deg, #8731E8 0%, #4528DC 100%);
    margin-top: 1rem;
}
.btn:hover {
    color: #fff;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}
.btn-block {
    display: block;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}
/* 6.Discover */
.image-discover-row {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 15px;
    order: 2;
}
.discover-row {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 15px;
    order: 1;
}
@media screen and (min-width: 992px) {
    .image-discover-row {
        flex: 0 0 50%;
        max-width: 50%;
        order: 1;
    }
    .discover-row {
        flex: 0 0 50%;
        max-width: 50%;
        order: 2;
    } 
}
.discover-area .list-box .icon {
    color: #7c4fe0;
}
/* 7.Work */
.work-flex-content {
    flex: 0 0 100%;
    max-width: 100%;
}
.work-flex-row {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 15px;
}

@media screen and (min-width: 768px) {
    .work-flex-row {
        flex: 0 0 33.33%;
        max-width: 33.33%;
    }
    .work-flex-content {
        flex: 0 0 83.33%;
        max-width: 83.33%;
    }
}
@media screen and (min-width: 992px) {
    .work-flex-content {
        flex: 0 0 66.67%;
        max-width: 66.67%;
    }
}
.work-content p {
    margin-top: 1.5rem;
    margin-bottom: 3rem;
}
.work-area .single-work {
    position: relative;
}
.work-area .single-work::after {
    position: absolute;
    content: '\f054';
    font-size: 45px;
    font-weight: 900;
    color: white;
    top: 50%;
    right: 0;
    margin-right: -25px;
    font-family: 'Font Awesome 5 Free';
    transition: 0.3s;
}
@media screen and (max-width: 768px) {
    .work-area .single-work::after {
        display: none;
    }
}
.work-area .single-work:hover::after {
    transform: translate(5px, -50%);
}
.work-area .work-flex-row:last-of-type .single-work::after{
    display: none;
}
.avatar-md {
    height: 4rem;
    width: 4rem;
}
/* 8.Screenshots */
.screenshots-flex-content {
    flex: 0 0 100%;
    max-width: 100%;
}
.screenshots-slider-flex {
    flex: 0 0 100%;
    max-width: 100%;
}
@media screen and (min-width: 768px) {
    .screenshots-flex-content {
        flex: 0 0 83.33%;
        max-width: 83.33%;
    }
}
@media screen and (min-width: 992px) {
    .screenshots-flex-content {
        flex: 0 0 66.67%;
        max-width: 66.67%;
    }
}
.app-screenshots {
    display: flex;
    overflow: hidden;
    width: 300px; /* Set your desired width */
}

.single-screenshot {
    flex: 0 0 auto;
    width: 100%;
    transition: transform 0.3s ease-in-out;
}

.single-screenshot img {
    width: 100%;
    height: auto;
}
/* 9. Review*/
.review-flex-content {
    flex: 0 0 100%;
    max-width: 100%;
}
.review-row {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 15px;
}
@media screen and (min-width: 768px) {
    .review-row {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .review-flex-content {
        flex: 0 0 83.33%;
        max-width: 83.33%;
    }
}
@media screen and (min-width: 992px) {
    .review-row {
        flex: 0 0 33.33%;
        max-width: 33.33%;
    }
    .review-flex-content {
        flex: 0 0 66.67%;
        max-width: 66.67%;
    }
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
}
.single-review {
    transition: all 0.3s ease 0s;
}
.single-review:hover {
    box-shadow: 0 1rem 3rem rgba(31, 45, 61, 0.125);
}
.single-review .card-top {
    position: relative;
}
.single-review .quot-icon {
    position: absolute;
    top: 5%;
    right: 5%;
}
.review-icon {
    color: #ffc107;
}
.single-review .reviewer {
    position: relative;
}
.single-review .reviewer::after {
    position: absolute;
    content: '';
    height: 20px;
    width: 20px;
    background-color: #f6f9fe;
    bottom: calc(100% - 10px);
    left: 15%;
    transform: rotate(45deg);
}
/* 10.Price-plan */
.price-plan-flex-content{
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 15px;
}
@media screen and (min-width: 768px) {
    .price-plan-flex-content {
        flex: 0 0 83.33%;
        max-width: 83.33%;
    } 
}
@media screen and (min-width: 992px) {
    .price-plan-flex-content {
        flex: 0 0 66.67%;
        max-width: 66.67%;
    }
}
.price-plan-flex-content-rows{
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 15px;
}
@media screen and (min-width: 576px) {
    .price-plan-flex-content-rows {
        flex: 0 0 83.33%;
        max-width: 83.33%;
    }
}
@media screen and (min-width: 992px) {
    .price-plan-flex-content-rows {
        flex: 0 0 66.67%;
        max-width: 66.67%;
    }
}
.price-plan-row {
    position: relative;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 15px;
}
@media screen and (min-width: 768px) {
    .price-plan-row {
        flex: 0 0 50%;
        max-width: 50%;
    }
}
.single-price-plan {
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0 0.313rem 0.875rem rgba(45, 49, 54, 0.09);
}
.single-price-plan .plan-title > h4 {
    letter-spacing: 3px;
    opacity: 0.8;
}
.single-price-plan .plan-price > h2 {
    font-size: 3em;
    background-image: linear-gradient(-47deg, #8731E8 0%, #4528DC 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.single-price-plan .plan-button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/*11 .FAQ */
.faq-flex-content, .faq-flex-info {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 15px;
}
.faq-content-row {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 15px;
}
@media screen and (min-width: 768px) {
    .faq-content-row {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .faq-flex-content {
        flex: 0 0 83.33%;
        max-width: 83.33%;
    }
}
@media screen and (min-width: 992px) {
    .faq-flex-content {
        flex: 0 0 66.67%;
        max-width: 66.67%;
    }
}
.card-header .btn {
    position: relative;
    display: block;
    width: 100%;
    background: transparent;
    color: #222;
    text-align: left;
    cursor: inherit;
    font-family: 'Poppins', sans-serif;
}
.card-header .btn:hover {
    box-shadow: inherit;
}
/*12 .Team */
.team-flex-content {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 15px;
}
.team-flex-row{
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 15px;
}
@media screen and (min-width: 576px) {
    .team-flex-row {
        flex: 0 0 50%;
        max-width: 50%;
    }
}
@media screen and (min-width: 768px) {
    .team-flex-content {
        flex: 0 0 83.33%;
        max-width: 83.33%;
    }
    .team-flex-row {
        flex: 0 0 33.33%;
        max-width: 33.33%;
    }
}
@media screen and (min-width: 992px) {
    .team-flex-content {
        flex: 0 0 66.67%;
        max-width: 66.67%;
    }
    .team-flex-row {
        flex: 0 0 25%;
        max-width: 25%;
    }
}
.single-team {
    border-radius: 1rem;
    transition: all 0.3s ease 0s;
}
.single-team .team-thumb > img {
    transform: scale(1);
    transition: all 0.3s ease-in-out 0s;
}
.single-team:hover .team-thumb > img {
    transform: scale(1.2);
}
.single-team .team-thumb .team-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
    transition: all 0.3s ease 0s;
}
.single-team .team-thumb .team-overlay::after {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #7c4fe0;
    border-radius: 1rem;
    opacity: 0.9;
    z-index: -1;
}
.single-team:hover .team-thumb .team-overlay {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}
.single-team .team-thumb .team-overlay .team-icons a i {
    font-size: 16px;
    color: white;
    transform: scale(1);
    transition: transform 0.3s ease 0s;
}
.single-team .team-thumb .team-overlay .team-icons a:hover i {
    transform: scale(1.2);
}
/*13 .Download */
.download-area {
    background: rgba(0, 0, 0, 0) url(../img/bg/download-bg.jpg) no-repeat fixed center center/cover;
}
.download-flex-content {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 15px;
}
@media screen and (min-width: 768px) {
    .download-flex-content {
        flex: 0 0 83.33%;
        max-width: 83.33%;
    }
}
@media screen and (min-width: 992px) {
    .download-flex-content {
        flex: 0 0 75%;
        max-width: 75%;
    }
}
/*14 .Subscribe */
.subscribe-flex-content {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 15px;
}
@media screen and (min-width: 768px) {
    .subscribe-flex-content {
        flex: 0 0 83.33%;
        max-width: 83.33%;
    }
}
@media screen and (min-width: 992px) {
    .subscribe-flex-content {
        flex: 0 0 66.67%;
        max-width: 66.67%;
    }
}
.subscribe-area {
    background: rgba(0, 0, 0, 0) url(../img/bg/map.png) no-repeat scroll center center/cover;
}
.form-group {
    margin-bottom: 1rem;
}
.form-control {
    font-size: 15px;
    width: 100%;
    height: 60px;
    border: none;
    outline: none;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    font-family: 'Popins', sans-serif;
    padding-left: 20px;
    border-radius: 8px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}
.subscribe-form .form-group input {
    display: block;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
    font-family: 'Poppins', sans-serif;
}
/*15 .Contact */
.contact-flex-content {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 15px;
}
.contact-flex-row-1 , .contact-flex-row-2 {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 15px;
}
.contact-flex-row-2 {
    padding-top: 1.5rem;
}
@media screen and (min-width: 768px) {
    .contact-flex-content {
        flex: 0 0 83.33%;
        max-width: 83.33%;
    }
    .contact-flex-row-1 {
        flex: 0 0 41.6667%;
        max-width: 41.6667%;
    }
    .contact-flex-row-2 {
        flex: 0 0 50%;
        max-width: 50%;
        padding-top: 0;
    }
    .pt-md-0 {
        padding-top: 0!important;
    }
}
@media screen and (min-width: 992px) {
    .contact-flex-content {
        flex: 0 0 66.67%;
        max-width: 66.67%;
    }
}
.contact-us .social-icon {
    display: inline-block;
    height: 45px;
    min-width: 45px;
    line-height: 45px;
    font-size: 18px;
    text-align: center;
    background-color: #7c4fe0;
    color: #fff;
    border-radius: 4px;
}
.inner-form {
    flex: 0 0 100%;
    max-width: 100%;
}
.contact-box .form-group input {
    font-size: 14px;
    height: 50px;
    padding: 0 15px;
    border: none;
    box-shadow: none;
    border-radius: 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
    transition: 0.5s;
}
.contact-box .form-group textarea {
    height: 160px;
    padding: 15px;
}
/*16 .Footer */
.height-emulator {
    display: none;
    float: left;
    height: 585px;
}
.footer-row {
    flex: 0 0 100%;
    max-width: 100%;
}
@media screen and (min-width: 576px) {
    .footer-row {
        flex: 0 0 50%;
        max-width: 50%;
    }
}
@media screen and (min-width: 992px) {
    .height-emulator {
        display: block;
    }
    .footer-area.footer-fixed {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
    }
    .footer-row {
        flex: 0 0 25%;
        max-width: 25%;
    }
}
.footer-area .footer-items .social-icons > a {
    width: 40px;
    height: 40px;
    font-size: 18px;
    margin: 5px;
    color: white;
    border-radius: 3px;
    overflow: hidden;
    transition: all 0.3s ease 0s;
}
.social-icons > a.facebook {
    background-color: #3b5998;
}
.social-icons > a.twitter {
    background-color: #55acee;
}
.social-icons > a.google-plus {
    background-color: #dd4b39;
}
.social-icons > a.vine {
    background-color: #00b489;
}
.social-icons i {
    display: block;
    height: 100%;
    line-height: 45px;
    margin: 0 auto;
    text-align: center;
    transition: all 0.3s ease 0s;
}
.footer-area .footer-items .social-icons > a i{
    transform: translateY(0);
}
.footer-area .footer-items .social-icons > a:hover i {
    transform: translateY(-100%);
}
.store-buttons.store-black img {
    max-width: 170px;
    margin-bottom: 10px;
}
.Copyright-flex-row {
    flex: 0 0 100%;
    max-width: 100%;
}
.footer-area .copyright-area {
    border-top: 1px solid rgba(0, 0, 0, 0.2);;
}